{% extends "::AdminLayout.html.twig" %}

{% block admin_nav %}
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav">
            <li class="active">
                <a href="{{ path('admin_Dashboard') }}"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
            </li>
            <li class="">
                <a href="javascript:;" data-toggle="collapse" data-target="#fiche"><i class="fa fa-fw fa-book"></i> Manga <i class="fa fa-fw fa-caret-down"></i></a>
                <ul id="fiche" class="collapse">
                    <li>
                        <a href="#">Liste</a>
                    </li>
                    <li><a href="#">Type</a></li>
                    <li><a href="#">Genre</a></li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-fw fa-comments"></i> Commentaire</a>
            </li>
            <li>
                <a href="{{ path('admin_membre') }}"><i class="fa fa-fw fa-user"></i> Membre</a>
            </li>
            <li class="divider-inverse"></li>
            {% if is_granted('ROLE_ADMIN') %}
            <li class="">
                <a href="{{ path('admin_contact') }}"><i class="">Contacte</i></a>
            </li>
            {% endif %}
            <li class="">
                <a href="#"><i class=""></i> Retours au Site</a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block admin_body %}
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Zone d'admistration du site
                <small>zone sécurisé</small>
            </h1>
            <ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-dashboard"></i>  <a href="{{ path('admin_Dashboard') }}">Dashboard</a>
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="alert alert-info alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <i class="fa fa-info-circle"></i>  <strong>Zone Sécurisé</strong> attention !!!!!
            </div>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-book fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">manga</div>
                            <div>Manga(s) !</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-comments fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">cc</div>
                            <div>Comments!</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-user fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ user }}</div>
                            <div>Users</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- /.row-->

    <div class="row">
        <div class="col-lg-12 col-sm-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Statistique
                </div>
                <div class="panel-body">
                    <div class="panel panel-danger col-lg-6 col-sm-12" style="padding: 0;">
                        <div class="panel panel-heading" style="margin: 0px;">
                            Nbr de Scan par genres
                        </div>
                        <div class="panel-body" style="padding: 0;">
                            <ul class="list-group list-inline row" style="margin: 0; text-align: center; padding: 0 5px;">

                            </ul>
                        </div>
                    </div>

                    <div class="panel panel-danger col-lg-6 col-sm-12" style="padding: 0;">
                        <div class="panel panel-heading" style="margin: 0px;">
                            Nbr de Scan par types
                        </div>
                        <div class="panel-body" style="padding: 0;">
                            <ul class="list-group" style="margin: 0;">

                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <pre></pre>
    </div>
{% endblock %}

