{% extends "UserBundle::UserLayout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        #fos_user_registration_form_sexe_1{
            margin-left: 15px;
        }
    </style>
{% endblock %}


{% block site_nav %}
    <li>
        <a href="{{ path('core_homepage') }}" class="">Home(v)</a>
    </li>
    <li>
        <a href="#">Portfolio(?)</a>
    </li>
    <li>
        <a href="{{ path('core_about') }}">A Propos(x)</a>
    </li>
    <li>
        <a href="{{ path('fos_user_profile_show') }}">Membres (v)</a>
    </li>
    <li>
        <a href="{{ path('core_Contacte') }}">Contact(x)</a>
    </li>
{% endblock %}

{% block fos_user_content %}
    {% include "FOSUserBundle:Registration:register_content.html.twig" %}
{% endblock fos_user_content %}
