{% extends "::AdminLayout.html.twig" %}

{% block admin_nav %}
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav">
            <li >
                <a href="{{ path('admin_Dashboard') }}"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
            </li>
            <li class="">
                <a href="javascript:;" data-toggle="collapse" data-target="#fiche"><i class="fa fa-fw fa-book"></i> Manga <i class="fa fa-fw fa-caret-down"></i></a>
                <ul id="fiche" class="collapse">
                    <li>
                        <a href="#">Liste</a>
                    </li>
                    <li><a href="#">Type</a></li>
                    <li><a href="#">Genre</a></li>
                </ul>
            </li>
            <li class="active">
                <a href="{{ path('membre_liste') }}"><i class="fa fa-fw fa-user"></i> Membre</a>
            </li>
            <li class="divider-inverse"></li>
            {% if is_granted('ROLE_ADMIN') %}
                <li class="">
                    <a href="{{ path('admin_contact') }}"><i class="">Contacte</i></a>
                </li>
            {% endif %}
            <li class="">
                <a href="#"><i class=""></i> Retours au Site</a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block admin_body %}
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Gestion des Membres
            </h1>
            <ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-dashboard"></i>  <a href="{{ path('admin_Dashboard') }}">Dashboard</a>
                </li>
                <li class="">
                    <i class=""></i>  <a href="#" class="disabled">Membre</a>
                </li>
                <li class="active">
                    <i class=""></i>  <a href="#">Liste</a>
                </li>
            </ol>
        </div>
    </div>

    <!-- /.row -->

    {% for key, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="alert alert-{{ key }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>{{ message }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {{ dump(membre) }}
    {# box message, membre, Nala#}
    <div class="row">
        <div class="col-lg-12 col-sm-12">
            <div class="panel panel-info">
                <div class="panel-body table-responsive">
                    <table class="table">
                        <thead>
                        <th>#</th>
                        <th>username</th>
                        <th>email</th>
                        <th>inscription</th>
                        <th>roles</th>
                        <th>actif</th>
                        <th>action</th>
                        </thead>
                    {% for membre in membre %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ membre.username }}</td>
                            <td>{{ membre.email }}</td>
                            <td>{{ membre.registerat|date('d.M.Y') }}</td>
                            <td>
                                {{ membre.roles.0 }}
                            </td>
                            <td>
                                {% if membre.enabled ==1 %}
                                    Actif
                                {% else %}
                                    Innactif
                                {% endif %}
                            </td>
                            <td>
                                <a href="{{ path('membre_profil', {'id': membre.id, 'username': membre.username}) }}">Voir</a>
                                 /
                                <a href="">Role</a>
                                 /
                                <a href="">autre</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}