{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
<div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-12 ">
        <div class="well">
            <ul class="nav nav-pills nav-justified">
                <li class="active">
                    <a href="#profil" data-toggle="tab">Profil</a>
                </li>
                <li class="">
                    <a href="#dispo" data-toggle="tab">Mes Disponibilitee</a>
                </li>
                <li>
                    <a href="#animals" data-toggle="tab">Animeaux</a>
                </li>
                <li>
                    <a href="#contacte" data-toggle="tab">Message <span class="badge">{{ nbr }}</span></a>
                </li>
            </ul>
            <div class="tab-content" style="padding-top: 10px;">
                <div class="tab-pane table-responsive active" id="profil">
                    <table class="table table-profil">
                        <tr>
                            <td rowspan="8" style="text-align: center;">
                                <img src="https://pixabay.com/static/uploads/photo/2012/04/13/21/07/user-33638_960_720.png"
                                     alt="" style="height: 100px; width: 100px;">
                            </td>
                            <td>Nom:</td>
                            <td>{{ user.nom|upper }} {{ user.prenom }}</td>
                            <td rowspan="8" style="padding: auto 3px;"> </td>
                        </tr>
                        <tr>
                            <td>Sexe: </td>
                            <td>
                                <i class="fa fa-mars" style="color: dodgerblue;"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>Adresse:</td>
                            <td>
                                {{ user.adrRue }},
                                <br>
                                {{ user.adrCp }} {{ user.adrVille }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Adresse Mail:
                            </td>
                            <td>
                                {{ user.email }}
                            </td>
                        </tr>
                        <tr>
                            <td>Statuts: </td>
                            <td>
                                {% if user.roles.0 == 'ROLE_SUPER_ADMIN' or user.roles.0 =='ROLE_ADMIN' %}
                                Administrateur
                                {% elseif user.roles.0 == 'ROLE_MEMBRE' %}
                                Membre
                                {% elseif user.roles.0 == 'ROLE_MODERATEUR' %}
                                Modérateur
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>Telephone:</td>
                            <td>{{ user.numTel }}</td>
                        </tr>
                        <tr>
                            <td>GSM</td>
                            <td>{{ user.numGsm }}</td>
                        </tr>
                        <tr>
                            <td>Inscrit le: </td>
                            <td>{{ user.registerat|date('d/m/Y') }}</td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <a href="{{ path('fos_user_profile_edit') }}" class="btn btn-lg btn-warning">Modifier Mon Profile</a>
                                <a href="{{ path('fos_user_change_password') }}" class="btn btn-danger btn-lg">Modifier Mon Mots de passe</a>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="tab-pane  table-responsive" id="dispo">
                    <table class="table-dispo table table-bordered">
                        <thead>
                            <tr>
                                <td>#</td>
                                <td>animal (race)</td>
                                <td>du</td>
                                <td>aux</td>
                            </tr>
                        </thead>
                        <tbody>
                        {% for d in dispo %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ d.animal }}</td>
                                <td>{{ d.dispoDebut|date('d/m/Y') }}</td>
                                <td>{{ d.dispoFin|date('d/m/Y') }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfooter>
                            <tr>
                                <td colspan="4">
                                    <!-- Bouton execution modal -->
                                    <a href="{{ path('membre_dispo') }}" class="btn btn-primary btn-lg">
                                        Ajouter une disponibilitée.
                                    </a>
                                </td>
                            </tr>
                        </tfooter>
                    </table>
                </div>
                <div class="tab-pane" id="animals">
                    <div class="row">
                        <div class="col-md-12">
                            <p style="text-align: justify; font-size: 22px;">
                                Je vais vous présenter mes animeaux de compagnie,
                                j'en possède {NbrAnimal}, si un jours vous les gardez,
                                vous en tomberé amoureux, j'en suis sure...
                            </p>
                        </div>
                    </div>
                    {#<div class="row">
                        {% for a in animal %}
                            <div class="col-md-6">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <img src="http://43.img.v4.skyrock.net/1283/30761283/pics/1255516140.jpg"
                                             alt="" style="height: 100px; width: 100px; margin: 0 15px 15px 0; background: lightgrey; float: left;">
                                        <div class="animal_content">
                                            <ul class="list-unstyled">
                                                <li>
                                                    <strong>Nom</strong> : <em>{{ a.name }}</em>
                                                </li>
                                                <li>
                                                    <strong>Ager</strong> : <em>{{ a.age }} ans</em>
                                                </li>
                                                <li>
                                                    <strong>Sexe</strong> :
                                                    <em>
                                                        {% if a.sexe == 0 %}
                                                            <i class="fa fa-venus"></i>
                                                        {% else %}
                                                            <i class="fa fa-mars"></i>
                                                        {% endif %}
                                                    </em>
                                                </li>
                                                <li>
                                                    <strong>Race</strong> : <em>{{ a.type }}</em>
                                                </li>
                                                <li>
                                                    <strong>Santée</strong> :
                                                    <br>
                                                    <em>{{ a.santee }}</em>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>#}
                </div>
                <div class="tab-pane" id="contacte">
                    <div class="row">
                        <div class="col-md-12 table-responsive">
                            <table class="table" class="table-hover">
                                {% for message in messages %}
                                <tr data-toggle="collapse" data-target="#accordion{{ loop.index }}">
                                    <td>{{ loop.index }}</td>
                                    <td>{{ message.auteur }}</td>
                                    <td>{{ message.created|date('d/m/Y H:i:s') }}</td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <div id="accordion{{ loop.index }}" class="collapse">
                                            <ul class="list-unstyled">
                                                <li><strong>id: </strong>{{ message.id }}</li>
                                                <li><strong>Auteur: </strong> {{ message.auteur }}</li>
                                                <li><strong>Reçu le: </strong>{{ message.created|date('d/m/Y H:i:s') }}</li>
                                                <li style="text-align: center;">
                                                    <br>
                                                    {{ message.message }}
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>